.logo.vite:hover {
	filter: drop-shadow(0 0 2em #747bff);
}

.logo.react:hover {
	filter: drop-shadow(0 0 2em #61dafb);
}

body {
font-family: Arial, sans-serif;
margin: 20px;
}

h1 {
font-size: 24px;
margin-bottom: 10px;
}

p {
font-size: 16px;
margin-bottom: 20px;
}

div {
margin-bottom: 20px;
}

label {
display: block;
margin-bottom: 5px;
}

input {
width: 100%;
padding: 8px;
margin-bottom: 10px;
box-sizing: border-box;
}

button {
background-color: #4caf50;
color: white;
padding: 10px;
border: none;
cursor: pointer;
}

button:hover {
background-color: #45a049;
}

/* Graph area styling (adjust as needed) */
div > div {
border: 1px solid #ccc;
height: 300px; /* Set desired height */
margin-bottom: 10px;
}

/* Save to PNG checkbox styling */
label input {
margin-left: 5px;
}
.input-container {
display: grid;
grid-template-columns: 1fr 1fr; /* Adjust column widths as needed */
gap: 10px;
}

input {
width: 100%;
padding: 8px;
box-sizing: border-box;
}
